.container {
    width: 300px;
    background-color: royalblue;
    position: static;
}

.container .item {
    border: 4px dashed red;
}

.container .item:nth-child(1) {
/* .container .item:first-child { */
    width: 100px;
    height: 50px;
    background-color: yellow;
}

.container .item:nth-child(2) {
    width: 150px;
    height: 90px;
    background-color: orange;
    /* position: absolute */
    /* absolute는 부모를 기준으로 함 
       =>absolute가 되는 순간, 상위 태그의 요소를 봄. 
    .container의 potision: relative면 안으로 들어가고,
    .container의 position: absolute면 상관 없으므로, 상관X임 */
    position: absolute;
    top: 30px;
    right: 30px;
}

.container .item:nth-child(3) {
    width: 80px;
    height: 150px;
    background-color: brown;
}